<html>
  <head>
    <title>
      RateLink
    </title>
  </head>
  <body>

    <h1>SENT</h1>
    {% for sent in sent_messages %}
    {{ sent.msg|linebreaks }} to {{ sent.receiver.nickname }} at {{ sent.time }}<br>
    {% endfor%}

    <p>&nbsp;</p>

    <h1>RECEIVED</h1>
    {% for received in received_messages %}
    {{ received.msg|linebreaks }} from {{ received.sender.nickname }} at {{ received.time}}<br>
    {% endfor %}

    <p>&nbsp;</p>

    <form method="POST">{%csrf_token%}
      <select name="receiver">
        {% for receiver in receivers %}
        <option>{{ receiver }}</option>
        {% endfor %}
      </select>
      {{ form.msg}}
      <button type="submit">SEND</button>
    </form>

  </body>
</html>
