<!DOCTYPE html>
<html>
  <head>
  <title>RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
    div.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  </head>
  <body>

  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="d-flex flex-column">
      <!-- ID 찾기 Form -->
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2 text-center">

          <div class="card">
            <div class="card-body" style="width:40rem;">

            <p><strong>패스워드 재설정 성공.</strong></p>
            <p>다시 접속해서 로그인 해보세요.</p>
              <a class="btn btn-primary" href="{% url 'login' %}">로그인</a>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>
</html>
