<!DOCTYPE html>
<html>
  <head>
  <title>RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
    div.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  </head>
  <body>

  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="d-flex flex-column">
      <!-- ID 찾기 Form -->
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2 text-center">
              <p><h3>Password RESET</h3></p>
              <span>&nbsp;</span>

              <form method="post" class="form-group">
                {% csrf_token %}
                <input class="form-control" type="email" name="email" maxlength="254" style="width:20rem;" required="" id="id_email" placeholder="Email">
                <p>&nbsp;</p>
                <button type="submit" class="btn btn-primary">재설정</button>
              </form>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
