<!DOCTYPE html>
<html>
  <head>
  <title>RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
    div.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  </head>
  <body>

  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="d-flex flex-column">
      <!-- ID 찾기 Form -->
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2 text-center">
              <p><h3>Change Password</h3></p>
              <span>&nbsp;</span>

              {% if validlink %}
              <div class="form-group">
                <form method="post">
                  {% csrf_token %}
                  <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" placeholder="NEW Password">
                  <span>&nbsp;</span>
                  <div class="text-left">
                    <ul class="list-styled font-weight-light">
                      <li>다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.</li>
                      <li>비밀번호는 최소8자 이상이어야 합니다.</li>
                      <li>비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.</li>
                      <li>비밀번호는 전부 숫자로 할 수 없습니다.</li>
                    </ul>
                  </div>
                  <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2" placeholder="Password confirm">
                  <p>&nbsp;</p>
                  <button type="submit" class="btn btn-primary">초기화</button>
                </form>
              </div>
              {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
