<!DOCTYPE html>
<html>
  <head>
  <title>RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
    div.card {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
  </head>
  <body>

  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="d-flex flex-column">
      <!-- ID 찾기 Form -->
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2 text-center">

          <div class="card">
            <div class="card-body" style="width:40rem;">
            <p>
              입력하신 Email로 비밀번호 초기화를 위한 암호키를 담은 메일을 보내드렸습니다.
            </p>
            <p>
              만약, Email을 수신하지 못하셨다면, 다시 한번 Email 주소를 확인해주시고,<br>Spam 폴더를 확인해주시기 바랍니다.
            </p>
            <p>- RateLink 팀</p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
