{% extends "layout.html" %}
  {% load humanize %}

  {% block title %}패스워드 변경-RateLink{% endblock title %}

  {% block css %}
    <style>
      div.card {
        box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
        text-align: left;
      }
    </style>
  {% endblock css %}

{% block content %}

<div class="container">
  <div class="d-flex flex-row justify-content-center">

    <form method="POST">{%csrf_token%}
      <div class="form-group">

            <label for="id_old_password">기존 비밀번호:</label>
            <input type="password" class="form-control" name="old_password" autofocus="" required="" id="id_old_password">
            <p>&nbsp;</p>
            <input type="password" class="form-control" name="new_password1" required="" id="id_new_password1" placeholder="New Password">
            <span>&nbsp;</span>

            <div class="card">
              <div class="card-body" style="background-color:#FFF1B5">

                - 다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.<br>
                - 비밀번호는 최소 8자 이상이어야 합니다.<br>
                - 비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.<br>
                - 비밀번호는 전부 숫자로 할 수 없습니다.<br>

              </div>
            </div>
            <span>&nbsp;</span>

            <input type="password" class="form-control" name="new_password2" required="" id="id_new_password2" placeholder="Password confirm">
            <p>&nbsp;</p>
            <button type="submit" class="btn btn-primary">변경</button>

      </div>
    </form>

  </div>
</div>

{% endblock content %}
