{% extends "layout.html" %}
{% load static %}
  {% load humanize %}

{% block title %}프로필 관리-RateLink{% endblock title %}

{% block css %}
  <style>
    div.card {
      box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
      text-align: left;
    }
    .card.left {
      width: 15rem;
    }
    .card.main {
      width: 30rem;
    }
    .card.right {
      width: 15rem;
    }
    .profile_update {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid darkgrey;
      padding: 3px;

      background-color: #ECECEC;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
    .profile_friend {
      display: inline-block;
      width: 45px;
      height: 45px;
      border-radius: 50%;
      border: 1px solid darkgrey;
      padding: 2px;

      background-color: #ECECEC;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  </style>
{% endblock css %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">{% if request.user.profile.profile_name %}{{ request.user.profile.profile_name }}{% else %}{{ request.user.nickname }}{% endif %}님</li>
    <li class="breadcrumb-item active" aria-current="page">프로필 관리</li>
  </ol>
</nav>
<!-- 작은 화면 용 -->
<div class="d-block d-sm-block d-md-none">
  <div class="container-fluid">
    <div class="d-flex flex-column">
        <!-- 프로필 카드 -->
        <div class="p-2">
          <div class="card">
            <div class="card-body">

              <div class="d-flex justify-content-between align-items-end">

                  <div class="p-2 text-center">
                    <div class="profile-header-container text-center">
                      {% if request.user.profile.image %}<img class="profile_update" src="{{ request.user.profile.image.url }}">{% else %}<img class="profile_update" src="{% static 'account/profileimages/blank.png' %}">{% endif %}
                    </div>
                    <hr />
                    <div class="card-text text-center">{{ request.user.nickname }}</div>
                    <div class="card-text text-center text-weight-light text-muted"><small>{{ request.user.email }}</small></div>
                  </div>

                  <div class="p-2 text-center">
                    <div class="d-flex align-items-start flex-column" style="height:120px;">

                      <div class="mb-auto p">
                        <div class="text-muted font-weight-light">Tellers</div>
                        <div># {{ showers.count }}</div>
                      </div>

                      <div class="p">
                        <div class="text-muted font-weight-light">Readers</div>
                        <div># {{ readers.count }}</div>
                      </div>

                    </div>
                  </div>

              </div>
            </div>
          </div>
        </div> <!-- 프로필 카드 -->

        <!-- 가운데 -->
        <div class="p-2">
          <div class="card">
            <div class="card-header text-center" style="background-color:#003e5e;">
              <span class="text-light"><h5>프로필 관리</h5></span>
            </div>
            <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">{%csrf_token%}

                     <div class="form-group">
                        <label for="email">이름 / ID</label>
                        <span class="form-control" readonly>{{ request.user.nickname }} ({{ request.user.email }})</span>
                      </div>
                      <div class="form-group">
                        <label for="profile_name">닉네임</label>
                        <input class="form-control" type="text" name="profile_name" value="{{ request.user.profile.profile_name }}" id="id_profile_name">
                      </div>
                      <div class="form-group">
                        <label for="company">회사 이름</label>
                        <input class="form-control" type="text" name="company" value="{{ request.user.profile.company }}" maxlength="10" id="id_company">
                      </div>
                      <div class="form-group">
                        <label for="job_boolean">직종</label>
                        {{ form.job_boolean }}
                      </div>
                      <span>&nbsp;</span>
                      <div class="card">
                        <div class="card-header">추천 이미지</div>
                          <div class="card-body">
                            <div class="d-flex justify-content-between">
                              <div class="p text-center">
                                <input type="radio" name="select" value="1">1<br>
                                <img src="{% static 'account/profileimages/sample_profile_1.png' %}" height="30px" width="30px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="2">2<br>
                                <img src="{% static 'account/profileimages/sample_profile_2.png' %}" height="30px" width="30px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="3">3<br>
                                <img src="{% static 'account/profileimages/sample_profile_3.png' %}" height="30px" width="30px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="4">4<br>
                                <img src="{% static 'account/profileimages/sample_profile_4.png' %}" height="30px" width="30px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="5">5<br>
                                <img src="{% static 'account/profileimages/sample_profile_5.png' %}" height="30px" width="30px">
                              </div>
                            </div>
                            <span>&nbsp;</span>
                            <div class="d-flex justify-content-center">
                              <div class="p">
                                <span class="badge badge-info">업로드</span>&nbsp;&nbsp;
                                <input type="file" name="image" id="id_image">
                              </div>
                            </div>
                          </div>
                        </div>

                      <p>&nbsp;</p>
                      <button class="btn text-light" type="submit" style="background-color:#6dbad8;">수정</button>
                      <a href="/account/changepassword" class="btn btn-danger">비밀번호 변경</a>
                    </form>
            </div> <!-- Card Body -->

          </div> <!-- card -->
        </div>  <!-- 가운데 -->

        <!-- 친구 관리 부분 -->
        <div class="p-2">
          <div class="card">
            <div class="card-body" style="background-color:#FFF1B5">
              <div class="card-text font-weight-light"><u>Teller</u><br /><small>나에게 운임을 보여주는 사람</small></div>
              <hr />
              <div class="card-text font-weight-light"><u>Reader</u><br /><small>내가 운임을 보여주는 사람</small></div>
            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card">
            <div class="card-header">
              <span>Tellers</span>
            </div>
            <div class="card-body">

              {% for shower in showers %}
              <div class="d-flex justify-content-start align-items-center">
                <div class="p">
                  {% if shower.shower.profile.image %}<img src="{{ shower.shower.profile.image.url }}" class="profile_friend">{% else %}<img src="{% static 'account/profileimages/blank.png' %}" class="profile_friend">{% endif %}
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="p text-left">
                  <div class="card-text">{{ shower.shower.nickname }}</div>
                  <div class="card-text font-weight-light text-muted"><small>{{ shower.shower.email }}</small></div>
                </div>
              </div>
              <span>&nbsp;</span>
              {% endfor %}

            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card">
            <div class="card-body" style="background-color:#FFF1B5">
              <div class="card-text font-weight-light"><small>친구 추가는 <span class="badge badge-warning">add+</span>를 클릭하세요.</small></div>
            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card">
            <div class="card-header">
              <span>Readers</span>
              <a class="badge badge-warning" href="/account/friend">add+</a>
            </div>
            <div class="card-body">

              {% for reader in readers %}
              <div class="d-flex justify-content-start align-items-center">
                <div class="p">
                  {% if reader.reader.profile.image %}<img src="{{ reader.reader.profile.image.url }}" class="profile_friend">{% else %}<img src="{% static 'account/profileimages/blank.png' %}" class="profile_friend">{% endif %}
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="p text-left">
                  <div class="card-text">{{ reader.reader.nickname }}</div>
                  <div class="card-text font-weight-light text-muted"><small>{{ reader.reader.email }}</small></div>
                </div>
              </div>
              <span>&nbsp;</span>
              {% endfor %}

            </div>
          </div>
        </div> <!-- 우측 -->

    </div> <!-- d-flex justify-content-center -->
  </div> <!-- container-fluid -->
</div>

<!-- 큰 화면 용 -->
<div class="d-none d-sm-none d-md-block">
    <div class="container-fluid" style="margin-top:50px;">
      <div class="d-flex flex-row justify-content-center">
        <!-- 좌측 -->
        <div class="p-2">
          <div class="card left">
            <div class="card-body">
              <div class="profile-header-container text-center">
                {% if request.user.profile.image %}<img class="profile_update" src="{{ request.user.profile.image.url }}">{% else %}<img class="profile_update" src="{% static 'account/profileimages/blank.png' %}">{% endif %}
              </div>
              <hr />
              <div class="card-text text-center">{{ request.user.nickname }}</div>
              <div class="card-text text-center text-weight-light text-muted"><small>{{ request.user.email }}</small></div>
              <p>&nbsp;</p>
              <div class="d-flex justify-content-center">
                <div class="d-flex flex-row">
                  <div class="p-2 text-center border-right">
                    <div class="text-muted font-weight-light">Tellers</div>
                    <div># {{ showers.count }}</div>
                  </div>
                  <div class="p-2 text-center">
                    <div class="text-muted font-weight-light">Readers</div>
                    <div># {{ readers.count }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 가운데 -->
        <div class="p-2">
          <div class="card main">
            <div class="card-header text-center" style="background-color:#003e5e;">
              <span class="text-light"><h5>프로필 관리</h5></span>
            </div>
            <div class="card-body">

                    <form method="POST" enctype="multipart/form-data">{%csrf_token%}

                     <div class="form-group">
                        <label for="email">이름 / ID</label>
                        <span class="form-control" readonly>{{ request.user.nickname }} ({{ request.user.email }})</span>
                      </div>
                      <div class="form-group">
                        <label for="profile_name">닉네임</label>
                        <input class="form-control" type="text" name="profile_name" value="{{ request.user.profile.profile_name }}" id="id_profile_name">
                      </div>
                      <div class="form-group">
                        <label for="company">회사 이름</label>
                        <input class="form-control" type="text" name="company" value="{{ request.user.profile.company }}" maxlength="10" id="id_company">
                      </div>
                      <div class="form-group">
                        <label for="job_boolean">직종</label>
                        {{ form.job_boolean }}
                      </div>
                      <span>&nbsp;</span>
                      <div class="card">
                        <div class="card-header">추천 이미지</div>
                          <div class="card-body">
                            <div class="d-flex justify-content-between">
                              <div class="p text-center">
                                <input type="radio" name="select" value="1">1<br>
                                <img src="{% static 'account/profileimages/sample_profile_1.png' %}" height="60px" width="60px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="2">2<br>
                                <img src="{% static 'account/profileimages/sample_profile_2.png' %}" height="60px" width="60px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="3">3<br>
                                <img src="{% static 'account/profileimages/sample_profile_3.png' %}" height="60px" width="60px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="4">4<br>
                                <img src="{% static 'account/profileimages/sample_profile_4.png' %}" height="60px" width="60px">
                              </div>
                              <div class="p text-center">
                                <input type="radio" name="select" value="5">5<br>
                                <img src="{% static 'account/profileimages/sample_profile_5.png' %}" height="60px" width="60px">
                              </div>
                            </div>
                            <span>&nbsp;</span>
                            <div class="d-flex justify-content-center">
                              <div class="p">
                                <span class="badge badge-info">업로드</span>&nbsp;&nbsp;
                              </div>
                              <div class="p w-75">
                                <input type="file" name="image" id="id_image">
                              </div>
                            </div>
                          </div>
                        </div>

                      <p>&nbsp;</p>
                      <button class="btn text-light" type="submit" style="background-color:#6dbad8;">수정</button>
                      <a href="/account/changepassword" class="btn btn-danger">비밀번호 변경</a>
                    </form>
            </div> <!-- Card Body -->

          </div> <!-- card -->
        </div>  <!-- 가운데 -->
        <!-- 우측 -->
        <!-- 친구 관리 -->
        <div class="p-2">
          <div class="card right">
            <div class="card-body" style="background-color:#FFF1B5">
              <div class="card-text font-weight-light"><u>Teller</u><br /><small>나에게 운임을 보여주는 사람</small></div>
              <hr />
              <div class="card-text font-weight-light"><u>Reader</u><br /><small>내가 운임을 보여주는 사람</small></div>
            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card right">
            <div class="card-header">
              <span>Tellers</span>
            </div>
            <div class="card-body">

              {% for shower in showers %}
              <div class="d-flex justify-content-start align-items-center">
                <div class="p">
                  {% if shower.shower.profile.image %}<img src="{{ shower.shower.profile.image.url }}" class="profile_friend">{% else %}<img src="{% static 'account/profileimages/blank.png' %}" class="profile_friend">{% endif %}
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="p text-left">
                  <div class="card-text">{{ shower.shower.nickname }}</div>
                  <div class="card-text font-weight-light text-muted"><small>{{ shower.shower.email }}</small></div>
                </div>
              </div>
              <span>&nbsp;</span>
              {% endfor %}

            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card right">
            <div class="card-body" style="background-color:#FFF1B5">
              <div class="card-text font-weight-light"><small>친구 추가는 <span class="badge badge-warning">add+</span>를 클릭하세요.</small></div>
            </div>
          </div>
          <span>&nbsp;</span>
          <div class="card right">
            <div class="card-header">
              <span>Readers</span>
              <a class="badge badge-warning" href="/account/friend">add+</a>
            </div>
            <div class="card-body">

              {% for reader in readers %}
              <div class="d-flex justify-content-start align-items-center">
                <div class="p">
                  {% if reader.reader.profile.image %}<img src="{{ reader.reader.profile.image.url }}" class="profile_friend">{% else %}<img src="{% static 'account/profileimages/blank.png' %}" class="profile_friend">{% endif %}
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="p text-left">
                  <div class="card-text">{{ reader.reader.nickname }}</div>
                  <div class="card-text font-weight-light text-muted"><small>{{ reader.reader.email }}</small></div>
                </div>
              </div>
              <span>&nbsp;</span>
              {% endfor %}

            </div>
          </div>
        </div> <!-- 우측 -->
        </div>
      </div>

</div>

{% endblock content %}
