<!DOCTYPE html>
<html>
  <head>
  <title>회원가입-RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
    #notification {
      position:fixed;
      top:5px;
      right:10px;
      width:250px;
      z-index:105;
      text-align:left;
      font-weight:normal;
      font-size:0.8rem;
      font-weight:bold;
      color:white;
      background-color:#000000;
      padding:10px;
      border-radius: 5px;
      opacity: 0.9;
    }
    #notification span.dismiss {
      position: absolute;
      top:10px;
      right:10px;
      padding:0 5px;
      cursor:pointer;
      float:right;
    }
    #notification a {
      color:white;
      text-decoration:none;
      font-weight:bold
    }
    .popover {
      background-color: #6dbad8;
    }
    .popover-body {
      color: white;
    }
    .popover > .arrow:after {
      border-top-color: #6dbad8;
    }
  </style>
  </head>
  <body>

<div class="container">
<p>&nbsp;</p>
<p>&nbsp;</p>

{% for message in messages %}
  <div id="notification" style="display:none;">
    <span>RateLink<span><span class="dismiss"><a>X</a></span><br />
    <div>
      {{ message }}
    </div>
  </div>
{% endfor %}

{% if form.errors %}
  {% for field in form %}
    {% for error in field.errors %}
      <div id="notification" style="display:none;">
        <span>RateLink<span><span class="dismiss"><a>X</a></span><br />
        <div>
          {{ error|linebreaks }}
        </div>
      </div>
    {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div id="notification" style="display:none;">
    <span>RateLink<span><span class="dismiss"><a>X</a></span><br />
    <div>
      {{ error|linebreaks }}
    </div>
  </div>
  {% endfor %}
{% endif %}

<div class="d-flex justify-content-center">

  <div class="flex-column">
    <div class="p text-center">
          <p><h4>회원가입</h4></p>
          <span>&nbsp;</span>
    </div>
    <div class="p text-center">
      <form method="POST">{%csrf_token%}

          <div class="form-group">
              <input type="email" name="email" value="{{ email }}"class="form-control" required autofocus id="email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="text" name="nickname" class="form-control" required id="nickname" placeholder="이름">
          </div>
          <div class="form-group">
              <input type="password" name="password1" class="form-control" required id="password1" placeholder="Password">
          </div>
          <div class="form-group">
              <input type="password" name="password2" class="form-control" required id="password2" placeholder="Password confirm">
          </div>

          <button class="btn btn-primary" type="submit">회원가입</button>
      </form>
    </div>
    <p>&nbsp;</p>
    <div class="p">
      <div class="card">
        <div class="card-body text-left" style="background-color:#FFF1B5">
          <small>
          - 다른 개인정보와 비슷한 비밀번호는 사용할 수 없습니다.<br>
          - 비밀번호는 최소 8자 이상이어야 합니다.<br>
          - 비밀번호는 일상적으로 사용되는 비밀번호일 수 없습니다.<br>
          - 비밀번호는 전부 숫자로 할 수 없습니다.<br>
          </small>
        </div>
      </div>
    </div>
    <span>&nbsp;</span>
    <div class="p text-center">
      <a href="/account/findid/" style="text-decoration:none;"><small>가입 여부 확인하기</small></a>
    </div>
    </div> <!-- flex-column -->
  </div>


{% load static %}
<script src="{% static 'rate/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'rate/js/bootstrap.bundle.min.js' %}"></script>
<script>
{% if messages or form.errors %}
$('#notification').fadeIn('slow');
{% endif %}
$('body').on('click', '.dismiss', function() {
  $('[id^=notification]').fadeOut('slow');
});
$('#email').change(function () {
  var regEmail = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
  var email = $(this).val();

  if (email == '' || !regEmail.test(email)) {
    $('#email').attr('data-content', '유효한 Email을 입력해주세요.');
    $('#email').attr('data-placement', 'top');
    $('#email').popover('show');
  }
  else {

    $.ajax({
        url: 'ajax/validate_email/',
        data: {
          'email': email
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken){
            $('#email').attr('data-content', '이미 가입된 Email 입니다. 다른 이메일을 입력해주세요.');
            $('#email').attr('data-placement', 'top');
            $('#email').popover('show');
          }
          else {
            $('#email').attr('data-content', '가입 가능한 Email 입니다.');
            $('#email').attr('data-placement', 'top');
            $('#email').popover('hide'); /* 유효한 Email을 입력했다면 남아있는 tooltip 감추기 */
          }
        }
    });

  }
});
$('#password1').change(function () {
  var password1 = $(this).val();

  if (password1.length < 8) {
    $('#password1').attr('data-content', '최소 8자 이상이어야 합니다.');
    $('#password1').attr('data-placement', 'top');
    $('#password1').popover('show');
  }
  else {
    $('#password1').attr('data-content', '유효한 Password 입니다.');
    $('#password1').attr('data-placement', 'top');
    $('#password1').popover('hide'); /* 유효한 Email을 입력했다면 남아있는 tooltip 감추기 */
  }
});
$('#password2').change(function () {
  var password1 = $('#password1').val();
  var password2 = $(this).val();

  if (password1 != password2) {
    $('#password2').attr('data-content', 'Password가 일치하지 않습니다.');
    $('#password2').attr('data-placement', 'top');
    $('#password2').popover('show');
  }
  else {
    $('#password2').attr('data-content', '입력한 Password가 일치합니다.');
    $('#password2').attr('data-placement', 'top');
    $('#password2').popover('hide'); /* 유효한 Email을 입력했다면 남아있는 tooltip 감추기 */
  }
});
</script>
</body>
</html>
