<!DOCTYPE html>
<html>
  <head>
  <title>RateLink</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load humanize %}

  {% load static %}
  <link href="{% static 'rate/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'rate/css/select2.min.css' %}" rel="stylesheet" type="text/css">

  <style>
    body {
      background-color: #ececec;
    }
  </style>
  </head>
  <body>

  <div class="container">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div class="d-flex flex-column">
      <!-- ID 찾기 Form -->
      <div class="d-flex flex-row justify-content-center">
        <div class="p-2 text-center">

          <div class="card" style="width:30rem;">
            <div class="card-header bg-dark text-left text-light">
              RateLink
            </div>
            <div class="card-body">
            <p>
              <h3>404 ERROR!</h3>
            </p>
            <p>- RateLink 팀</p>
            </div>
          </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
