<!DOCTYPE html>
{% load static %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="keywords" content="해상운임, 운임관리, 운임검색, 운임공유">
  <meta name="description" content="해상운임을 쉽게 저장하고 안전하게 관리 및 공유할 수 있는 플랫폼">
  <meta name="author" content="RateLink">

  <title>RateLink</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'rate/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'rate/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.css">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
    type="text/css">

  <!-- Custom styles for this template -->
  <link href="{% static 'rate/css/landing-page.min.css' %}" rel="stylesheet">
  <style>
    a.icon-social {
      text-decoration: none;
    }
  </style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#"><strong>RateLink</strong></a>
      {% if request.user.is_authenticated %}<a class="btn btn-primary" href="/rates/search/">시작!</a>{% else %}<a class="btn btn-primary"
        href="/account/login/">로그인</a>{% endif %}
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">RateLink를 통해 조금 더 가까워지세요.</h1>
          <h3 class="mb-5"></h3>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <a href="/account/signup/" class="btn btn-lg btn-primary">회원가입!</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>언제 어디서나</h3>
            <p class="lead mb-0">PC, 스마트폰 어디에서나 언제나<br />운임을 검색하고 저장하세요.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>다른 사람과 공유</h3>
            <p class="lead mb-0">친구 맺기를 통해<br /> 서로 운임을 공유할 수 있습니다.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>직관적인 사용방법</h3>
            <p class="lead mb-0">사용하기 쉬운 직관적인 인터페이스와 작동방식을 느껴보세요.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'rate/main_images/bg-showcase-1.jpg' %}');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>언제 어디서나 접근할 수 있습니다.</h2>
          <p class="lead mb-0">사무실에서나 외부에서나 언제든 운임및 중요 데이터에 접근할 수 있고, 간편하게 수정할 수 있습니다. 또한 검색하고 싶은 정보를 몇 번의 터치로 빠르게
            찾아줍니다.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('{% static 'rate/main_images/bg-showcase-2.jpg' %}');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>다른 사람과 공유할 수 있습니다.</h2>
          <p class="lead mb-0">업무팀의 담당직원과 RateLink를 이용하여 운임 및 중요 정보를 실시간으로 공유할 수 있습니다. 그리고 운임을 공유하는 선사를 찾아 가장 빠르게 운임을
            받아보세요.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{% static 'rate/main_images/bg-showcase-3.jpg' %}');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>사용하기 쉽습니다.</h2>
          <p class="lead mb-0">직관적인 인터페이스와 PC, 스마트폰 어느 기기에서든 최적화된 인터페이스로 쉽고 편리하게 운임과 중요 데이터를 저장하고 검색할 수 있습니다.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <!-- <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">What people are saying...</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'rate/main_images/testimonials-1.jpg' %}" alt="">
              <h5>Margaret E.</h5>
              <p class="font-weight-light mb-0">"This is fantastic! Thanks so much!"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'rate/main_images/testimonials-2.jpg' %}" alt="">
              <h5>Fred S.</h5>
              <p class="font-weight-light mb-0">"RateLink is amazing. I've been using it to create lots of super nice works."</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="{% static 'rate/main_images/testimonials-3.jpg' %}" alt="">
              <h5>Sarah	W.</h5>
              <p class="font-weight-light mb-0">"Thanks so much for making fantastic platform available to us!"</p>
            </div>
          </div>
        </div>
      </div>
    </section> -->

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">지금 바로 시작해보세요!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 text-center">
                <a href="/account/signup/" class="btn btn-lg btn-primary">회원가입!</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; RateLink 2018. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#" class="icon-social">
                <i class="icon-social-facebook" style="font-size:1.5rem;"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#" class="icon-social">
                <i class="icon-social-twitter" style="font-size:1.5rem;"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#" class="icon-social">
                <i class="icon-social-instagram" style="font-size:1.5rem;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'rate/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'rate/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>