  {% load humanize %}
                        {% for rate in rates_paginated %}
                            <tr id="tr_ajax_{{rate.pk}}">
                              <td scope="row" style="width:100px;">
                                {% now "y/m/d" as todays_date %}
                                {% if todays_date == rate.recordedDate|date:"y/m/d" %}
                                    <span class="badge badge-danger">NEW</span>
                                {% endif %}

                                <!-- {% if rate.inputperson.profile.profile_name %}
                                {{ rate.inputperson.profile.profile_name }}
                                {% else %}
                                {{ rate.inputperson.nickname }}
                                {% endif %} -->
                                <span id="inputperson_tooltip" data-toggle="tooltip" data-html="true" title="{% if rate.inputperson.profile.image %}<img class='profile_tooltip' src='{{ rate.inputperson.profile.image.url }}'>{% else %}<img class='profile_tooltip' src='/static/account/profileimages/blank.png' %}'>{% endif %}<br />{{rate.inputperson.profile.profile_name}}<br />{{rate.inputperson.email}}<br />{{rate.inputperson.profile.company}}">
                                  {% if rate.inputperson.profile.profile_name %}
                                  {{ rate.inputperson.profile.profile_name }}
                                  {% else %}
                                  {{ rate.inputperson.nickname }}
                                  {% endif %}
                                </span>
                              </td>
                              <td style="width:100px;">
                                  {{ rate.account }}
                              </td>
                              <td style="width:90px;">
                                  <span class="align-bottom"><img src="/static/countrycity/liners_image/{{rate.liner}}.png" width="70px"></span>
                              </td>
                              <td style="width:100px;">
                                  {{ rate.pol }}
                              </td>
                              <td style="width:100px;" id="column_pod">
                                  {{ rate.pod }}
                              </td>
                              <td class="border-left" style="width:60px;">
                                  {{ rate.buying20|intcomma }}
                              </td>
                              <td style="width:60px;">
                                {{ rate.buying40|intcomma }}
                              </td>
                              <td style="width:60px;">
                                {{ rate.buying4H|intcomma }}
                              </td>
                              <td class="border-left" style="width:60px;">
                                {{ rate.selling20|intcomma }}
                              </td>
                              <td style="width:60px;">
                                {{ rate.selling40|intcomma }}
                              </td>
                              <td class="border-right" style="width:60px;">
                                  {{ rate.selling4H|intcomma }}
                              </td>
                              <td style="width:50px;">
                                {{ rate.loadingFT }}
                              </td>
                              <td style="width:50px;">
                                {{ rate.dischargingFT }}
                              </td>
                              <td style="width:70px;">
                                {{ rate.effectiveDate|date:"m/d" }}
                              </td>
                              <td style="width:70px;">
                                {{ rate.offeredDate|date:"m/d" }}
                              </td>
                              <td style="width:140px;text-align:right;">
                                {% if rate.remark %}
                                <div class="dropdown_rmk">
                                  <span class="rmk_btn" onclick="toggle_rmk({{rate.pk}})"><i class="material-icons"><strong class="text-warning">notifications_active</strong></i></span>
                                  <div id="rmk_content_{{rate.pk}}" class="rmk_content">
                                    {{ rate.remark|linebreaks }}
                                  </div>
                                </div>
                                {% endif %}
                                <!-- 수정, 삭제 Modal -->
                                <a id="duplicate-icon" data-href="/rates/duplicate/{{rate.pk}}" data-toggle="modal" data-target="#confirm-duplicatexg"><i id="duplicate_{{rate.pk}}" class="material-icons">content_copy</i></a>
                                <span id="modify-icon"><i id="modify-icon_{{rate.pk}}" pk="{{rate.pk}}" class="material-icons">mode_edit</i></span>
                                <a id="delete-icon" data-href="/rates/delete/slajax/{{rate.pk}}" data-toggle="modal" data-target="#confirm-deletexg"><i class="material-icons">delete</i></a>
                              </td>
                            </tr>
                        {% endfor %}
