{% extends "layout.html" %}
{% load static %}
{% load humanize %}

{% block title %}운임 통계{% endblock title %}

{% block css %}
<style>
  .ContainerChart {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .card {
    width: 100%
  }

  @media only screen and (min-width: 768px) {
    .card {
      width: 80%
    }
  }
</style>
{% endblock css %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">Knowledge Center</li>
    <li class="breadcrumb-item active" aria-current="page">운임 통계</li>
  </ol>
</nav>

<div class="container-fluid" style="margin-top:50px;">
  <div class="ContainerChart">
    <div class="card">
      <div class="card-header">
        운임 Chart
      </div>
      <div class="card-body">
        <div id="charts">
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="{% static 'rate/js/charts/1.39b52b17.chunk.js' %}"></script>
<script src="{% static 'rate/js/charts/main.d1683887.chunk.js' %}"></script>
<script src="{% static 'rate/js/charts/runtime~main.229c360f.js' %}"></script>
{% endblock javascript %}