  {% load humanize %}
  {% for rate in rates_paginated %}

      <div class="d-flex flex-column" id="tr_ajax_{{rate.pk}}">

        <div class="p w-100">
          <!-- 맨 윗 줄 -->
          <div class="d-flex justify-content-between">
            <div class="p">
              {% now "y/m/d" as todays_date %}
              {% if todays_date == rate.recordedDate|date:"y/m/d" %}
              <span class="badge badge-danger">NEW</span>
              {% endif %}
              <!-- 입력자 -->
              {% if rate.inputperson.profile.profile_name %}
              {{ rate.inputperson.profile.profile_name }}
              {% else %}
              {{ rate.inputperson.nickname }}
              {% endif %}
            </div>

            <div class="p">
              {% if rate.remark %}
              <span id="remark-icon" data-toggle="collapse" data-target="#collapse{{rate.pk}}" aria-expanded="false" aria-controls="collapse{{rate.pk}}"><i class="material-icons"><strong class="text-warning">notifications_active</strong></i></span>&nbsp;&nbsp;
              {% endif %}
              <a id="duplicate-icon" data-href="/rates/duplicate/{{rate.pk}}" data-toggle="modal" data-target="#confirm-duplicate"><i id="duplicate_{{rate.pk}}" class="material-icons">content_copy</i></a>&nbsp;&nbsp;
              <span id="modify-icon"><i id="modify-icon_{{rate.pk}}" pk="{{rate.pk}}" class="material-icons">mode_edit</i></span>&nbsp;&nbsp;
              <a id="delete-icon" data-href="/rates/delete/sl/{{rate.pk}}" data-toggle="modal" data-target="#confirm-delete"><i class="material-icons">delete</i></a>

            </div>
          </div>

          <div class="card">
            <div class="card-body" id="card-body-small">
              <div class="table-responsive-sm">
                <table class="table table-sm table-borderless" style="margin-bottom:0" data-toggle="collapse" data-target="#collapse{{rate.pk}}" aria-expanded="false" aria-controls="collapse{{rate.pk}}">
                  <tr>
                    <td scope="row" rowspan="3" class="text-left" style="width:30%">
                      {{ rate.account }}<br />
                      <br />
                      <span class="align-bottom"><img src="/static/countrycity/liners_image/{{rate.liner}}.png" width="70px"></span>
                    </td>
                    <td scope="row" rowspan="3" style="width:35%">
                      {{ rate.pol }}<br />
                      <span style="color:lightgrey;">to</span><br />
                      {{ rate.pod }}
                    </td>
                    <td scope="row" style="width:5%;"><span class="badge badge-pill badge-secondary">20'</span></td>
                    <td scope="row" style="width:15%;">
                      {{ rate.buying20|intcomma }}
                    </td>
                    <td scope="row" style="width:15%;">
                      {{ rate.selling20|intcomma }}
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><span class="badge badge-pill badge-secondary">40'</span></td>
                    <td scope="row">
                      {{ rate.buying40|intcomma }}
                    </td>
                    <td scope="row">
                      {{ rate.selling40|intcomma }}
                    </td>
                  </tr>
                  <tr>
                    <td scope="row"><span class="badge badge-pill badge-secondary">4H</span></td>
                    <td scope="row">
                      {{ rate.buying4H|intcomma }}
                    </td>
                    <td scope="row">
                      {{ rate.selling4H|intcomma }}
                    </td>
                  </tr>
                </table>
              </div>
              <!-- Collapse 영역 -->
              <div class="collapse" id="collapse{{rate.pk}}">
                <div class="card" id="collapse-card" style="background-color:#FFF1B5">
                  <div class="card-body" id="collapse-card-body">
                    <div class="d-flex justify-content-between">
                      <div class="p text-center">
                        <div class="text-muted"><small>L.F/T</small></div>
                        <div>{{ rate.loadingFT }}</div>
                      </div>
                      <div class="p text-center">
                        <div class="text-muted"><small>D.F/T</small></div>
                        <div>{{ rate.dischargingFT }}</div>
                      </div>
                      <div class="p text-center">
                        <div class="text-muted"><small>유효일</small></div>
                        <div>{{ rate.effectiveDate|date:"m/d" }}</div>
                      </div>
                      <div class="p text-center">
                        <div class="text-muted"><small>견적일</small></div>
                        <div>{{ rate.offeredDate|date:"m/d" }}</div>
                      </div>
                      <div class="p text-center w-25">
                        <div class="text-muted"><small>Remarks</small></div>
                        <div>{{ rate.remark|linebreaks }}</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> <!-- card-body -->
          </div>

        </div>
      </div>
      <span>&nbsp;</span>

  {% endfor %}
